client
remote {{ srv.remote }}
port {{ srv.conf.port }}
dev tun
proto udp
compress {{ srv.conf.compress }}
nobind
auth-nocache
script-security 2
persist-key
persist-tun

ca [inline]
cert [inline]
key [inline]
tls-auth [inline]
auth {{ srv.conf.auth }}
key-direction 1
verify-x509-name {% if srv.cn is defined and srv.cn|length %}{{ srv.cn }}{% else %}{{ srv.name }}{% endif %} name

{% if cli.conf_extra_params is defined and cli.conf_extra_params|length %}
#
# Extra params
#
{% for p in cli.conf.extra_params %}
    {% if p.comment is defined %}
# {{ p.comment }}
{{ p.param }}
    {% endif %}
  {% endfor %}
{% endif %}

#
# Inline keys and certificates
#
<ca>
{{ file_content_srv_ca.stdout }}
</ca>

<cert>
{{ file_content_cli_cert.stdout }}
</cert>

<key>
{{ file_content_cli_privkey.stdout }}
</key>

<tls-auth>
{{ file_content_srv_ta.stdout }}}
</tls-auth>
